.flexconfigurationcenter, main .container-btn-allProducts, main .most-selling-products__slide, main .featured-products__slide, main .img-advertising, .maincontactos .formulariodecontacto form .container-contacto__btn, .containeR-allProducts-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexconfigurationaround, main .container-purchase-inf, .container-img-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flexconfigurationbetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnindexconfiguration, main .container-btn-allProducts .allProducts__btn, main .featured-products__h1, main .most-selling-products__h2, .maincontactos .formulariodecontacto form .container-contacto__btn .contacto__btn, .maincompras .howToBuy__btn, .containeR-allProducts-btn .allProducts__btn, .container-allProducts-cards .allProducts-card .allProducts-card__btn {
  border-radius: 4px;
  text-align: center;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.87);
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.87);
  background: #ebcded;
}

.featured-products__card, .most-selling__card, .container-allProducts-cards .allProducts-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  line-height: 20px;
  border-radius: 4px;
  border: 1px #e0e0e0 solid;
  width: 230px;
  height: 380px;
  margin: 20px;
  -webkit-box-shadow: 10px 10px 5px -4px rgb(207, 192, 207);
  -moz-box-shadow: 10px 10px 5px -4px rgb(207, 192, 207);
  box-shadow: 10px 10px 5px -4px rgb(207, 192, 207);
}
.featured-products__card h2, .most-selling__card h2, .container-allProducts-cards .allProducts-card h2 {
  font-size: 11px;
}
.featured-products__card .featured-products__card__img, .featured-products__card .most-selling__img, .most-selling__card .featured-products__card__img, .container-allProducts-cards .allProducts-card .featured-products__card__img, .container-allProducts-cards .allProducts-card .allProducts-card__img, .most-selling__card .most-selling__img, .container-allProducts-cards .allProducts-card .most-selling__img {
  height: 200px;
  width: 200px;
}

.featured-products__card, .most-selling__card, .container-allProducts-cards .allProducts-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  line-height: 20px;
  border-radius: 4px;
  border: 1px #e0e0e0 solid;
  width: 230px;
  height: 380px;
  margin: 20px;
  -webkit-box-shadow: 10px 10px 5px -4px rgb(207, 192, 207);
  -moz-box-shadow: 10px 10px 5px -4px rgb(207, 192, 207);
  box-shadow: 10px 10px 5px -4px rgb(207, 192, 207);
}
.featured-products__card h2, .most-selling__card h2, .container-allProducts-cards .allProducts-card h2 {
  font-size: 11px;
}
.featured-products__card .featured-products__card__img, .featured-products__card .most-selling__img, .most-selling__card .featured-products__card__img, .container-allProducts-cards .allProducts-card .featured-products__card__img, .container-allProducts-cards .allProducts-card .allProducts-card__img, .most-selling__card .most-selling__img, .container-allProducts-cards .allProducts-card .most-selling__img {
  height: 200px;
  width: 200px;
}

.container-aside-allProducts {
  margin-top: 75px;
  padding-left: 40px;
}

.container-allProducts-cards {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}
.container-allProducts-cards .allProducts-card .allProducts-card__btn {
  border: none;
  padding: 5px;
  width: 100px;
}
.containeR-allProducts-btn {
  margin: 40px 0 0 60px;
}
.containeR-allProducts-btn .allProducts__btn {
  width: 350px;
  padding: 10px;
  border: none;
}

.flexconfigurationcenter, main .container-btn-allProducts, main .most-selling-products__slide, main .featured-products__slide, main .img-advertising, .maincontactos .formulariodecontacto form .container-contacto__btn, .containeR-allProducts-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexconfigurationaround, main .container-purchase-inf, .container-img-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flexconfigurationbetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnindexconfiguration, main .container-btn-allProducts .allProducts__btn, main .featured-products__h1, main .most-selling-products__h2, .maincontactos .formulariodecontacto form .container-contacto__btn .contacto__btn, .maincompras .howToBuy__btn, .container-allProducts-cards .allProducts-card .allProducts-card__btn, .containeR-allProducts-btn .allProducts__btn {
  border-radius: 4px;
  text-align: center;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.87);
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.87);
  background: #ebcded;
}

.container-img-gallery .img-gallery {
  margin: 10px;
}
.container-img-gallery .gallery__img {
  width: 400px;
  height: 300px;
}

.container-about-us-description {
  text-align: center;
  line-height: 30px;
}

.flexconfigurationcenter, main .container-btn-allProducts, main .most-selling-products__slide, main .featured-products__slide, main .img-advertising, .maincontactos .formulariodecontacto form .container-contacto__btn, .containeR-allProducts-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexconfigurationaround, main .container-purchase-inf, .container-img-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flexconfigurationbetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnindexconfiguration, main .container-btn-allProducts .allProducts__btn, main .featured-products__h1, main .most-selling-products__h2, .maincontactos .formulariodecontacto form .container-contacto__btn .contacto__btn, .maincompras .howToBuy__btn, .container-allProducts-cards .allProducts-card .allProducts-card__btn, .containeR-allProducts-btn .allProducts__btn {
  border-radius: 4px;
  text-align: center;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.87);
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.87);
  background: #ebcded;
}

* {
  color: #000;
}

.maincompras {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.maincompras .comocomprartittle {
  color: salmon;
  font-size: 36px;
  margin-bottom: 40px;
}
.maincompras .howToBuy__btn {
  border: none;
  width: 300px;
  padding: 5px;
  margin: 10px;
}

.flexconfigurationcenter, main .container-btn-allProducts, main .most-selling-products__slide, main .featured-products__slide, main .img-advertising, .maincontactos .formulariodecontacto form .container-contacto__btn, .containeR-allProducts-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexconfigurationaround, main .container-purchase-inf, .container-img-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flexconfigurationbetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnindexconfiguration, main .container-btn-allProducts .allProducts__btn, main .featured-products__h1, main .most-selling-products__h2, .maincontactos .formulariodecontacto form .container-contacto__btn .contacto__btn, .container-allProducts-cards .allProducts-card .allProducts-card__btn, .containeR-allProducts-btn .allProducts__btn, .maincompras .howToBuy__btn {
  border-radius: 4px;
  text-align: center;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.87);
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.87);
  background: #ebcded;
}

.maincontactos {
  margin: 50px 20px;
}
.maincontactos h1 {
  color: salmon;
  font-size: 36px;
}
.maincontactos .formulariodecontacto form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.maincontactos .formulariodecontacto form input {
  width: 300px;
  height: 40px;
  margin: 5px auto;
}
.maincontactos .formulariodecontacto form textarea {
  width: 300px;
  height: 200px;
  margin: 5px auto;
}
.maincontactos .formulariodecontacto form .container-contacto__btn .contacto__btn {
  width: 300px;
  padding: 5px;
  border: none;
}

* {
  padding: 0;
  margin: 0;
  color: #000;
}

body {
  overflow-x: hidden;
  color: #000;
}

header {
  background-color: #fff;
  height: 140px;
}
header .container-header__logo {
  padding-right: 90px;
}
header .container-header__logo .logo-img {
  width: 120px;
  height: 100px;
  overflow: hidden;
}
header .container-search-bar {
  padding-left: 90px;
}
header .container-search-bar .search-bar__input {
  background-color: #e2e2e2;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  width: 350px;
  height: 40px;
}
header .container-search-bar span {
  position: absolute;
  z-index: 1;
  margin-left: 320px;
  color: #4f5b66;
}
header .trolley-login__btn {
  background-color: #e2e2e2;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 10px;
}
header .container-nav-menu ul .--modificador {
  padding-left: 50px;
}
header .container-nav-menu ul li {
  list-style: none;
}
header .container-nav-menu ul li a {
  text-decoration: none;
  color: #000;
}

main .featured-products__h1, main .most-selling-products__h2 {
  width: 300px;
  padding: 5px;
  font-size: 26px;
  margin: 10px auto 10px 20px;
}
main .carousel-inner {
  margin-left: 20px;
}
main .carousel-inner .img-cover {
  width: 1200px;
  height: 400px;
}
main .img-advertising .img-advertising__img {
  width: 1200px;
  height: 400px;
}
main .most-selling-products__slide, main .featured-products__slide {
  margin: 20px 50px;
}
main .most-selling-products__slide .most-selling__card__btn, main .most-selling-products__slide .featured__card__btn, main .featured-products__slide .most-selling__card__btn, main .featured-products__slide .featured__card__btn {
  border-radius: 4px;
  background: #ebcded;
  border: 1px solid #000;
  padding: 5px;
  width: 150px;
}
main .container-btn-allProducts .allProducts__btn {
  border: none;
  padding: 5px;
  width: 300px;
  height: 40px;
}
main .container-purchase-inf {
  text-align: center;
  margin: 50px 30px;
}
main .container-purchase-inf .purchase-inf {
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 10px 90px;
}

footer {
  border-top: 1px solid #ccc;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
footer .container-inf-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 60px;
}
footer .container-inf-footer ul {
  list-style-type: none;
}
footer .container-inf-footer ul span {
  display: inline-block;
  vertical-align: middle;
}
footer .container-inf-footer li:nth-child(1) {
  color: salmon;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
