.featured-products__card, .most-selling__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 35px;
    border-radius: 4px;
    border: 1px #e0e0e0 solid;
    width: 230px;
    height: 380px;
    margin: 20px;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(207,192,207,1);
    -moz-box-shadow: 10px 10px 5px -4px rgba(207,192,207,1);
    box-shadow: 10px 10px 5px -4px rgba(207,192,207,1);
    h2{
        font-size: 11px;
    }
    .featured-products__card__img, .most-selling__img{
        height: 200px;
        width: 200px;
    }
}