@import 'variables';


* {
    
    color: #000;
}
.maincompras{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
.comocomprartittle{
    color: salmon;
    font-size: 36px;
    margin-bottom: 40px;
}
.howToBuy__btn{
    @extend .btnindexconfiguration;
    border: none;
    width: 300px;
    padding:5px;
    margin: 10px;
}
}