@import 'cards';

.container-aside-allProducts{
    margin-top: 75px;
    padding-left: 40px;
    @include mobile{
        display: none;
    }
}

.container-allProducts-cards{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    @include mobile{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .allProducts-card{
        @extend .most-selling__card;
        
        flex: 1;
        @include mobile {
            flex-basis: 100%;
            height: 200px;
            
        }
            .allProducts-card__btn{
                @extend .btnindexconfiguration;
                border: none;
                padding: 5px;
                width: 100px;
                @include mobile{
                    margin-bottom: 10px;
                }
            }
            .allProducts-card__img{
                @extend .featured-products__card__img;
                @include mobile{
                    margin-top: 10px;
                }
            }
        }   
}
.containeR-allProducts-btn{
    @extend .flexconfigurationcenter;
    margin: 40px 0 0 60px;

    .allProducts__btn{
        @extend .btnindexconfiguration;
        width: 350px;
        padding: 10px;
        border: none;
        
    }
}

