@import 'cards';

.container-aside-allProducts{
    margin-top: 75px;
    padding-left: 40px;
}

.container-allProducts-cards{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    
    .allProducts-card{
        @extend .most-selling__card;
            .allProducts-card__btn{
                @extend .btnindexconfiguration;
                border: none;
                padding: 5px;
                width: 100px;
            }
            .allProducts-card__img{
                @extend .featured-products__card__img;
            }
        }   
}
.containeR-allProducts-btn{
    @extend .flexconfigurationcenter;
    margin: 40px 0 0 60px;

    .allProducts__btn{
        @extend .btnindexconfiguration;
        width: 350px;
        padding: 10px;
        border: none;
        
    }
}

