@import 'mediaquaries';
@import 'variables';
@import 'cards';
@import 'productspage';
@import 'quienes-somos';
@import 'compras';
@import 'contacto';

* {
    padding: 0;
    margin: 0;
    color: #000;
}
body{
    overflow-x: hidden;
    color: #000;
    
}
header{
    background-color: #fff;
    height: 140px;
    @include mobile{
        height: 100px; 
    }
    .container-header{
        @include mobile{
            margin-top: 10px; 
        }
        .navbarsecundary{
            display: none;
            @include mobile{
                display: inline;
                z-index: 1000;
                
                    }
        .links-collapse{
            @include mobile{
                background-color: salmon;
                width: 50%;
                height: 50vh;
                            }
            a  {
            @include mobile{
                line-height: 50px;
                            }
                            
            }
                    }
            .material-symbols-outlined{
                        text-align: center;
                        padding-top: 14px;
                    }
                }
    }
    .container-header__logo{
        padding-right: 90px;
        @include mobile{
            padding-right: 10px;
            
        }
        .logo-img{
            width: 120px;
            height: 100px;
            overflow: hidden;
            @include mobile{
                width: 60px;
                height: 50px;
            }
        }
    }
    .container-search-bar{
        padding-left: 90px;
        @include mobile{
            padding-left: 0px;
        }
        .search-bar__input{
            background-color: #e2e2e2;
            border: none;
            border-radius: 10px;
            padding-left: 90px;
            width: 350px;
            height: 40px;
            @include mobile{
            padding-left: 10px;
            width: 200px;
            height: 30px;
            }
        }
        span{
            position: absolute;
            z-index: 1;
            margin-left: 320px;
            color: #4f5b66;
            @include mobile {
                margin-left: 170px;
            }
        }
    }
    .container-trolley, .container-login{
        .trolley-login__btn{
            @each $property, $value in $btnheader {
                #{$property} : $value;
            }
            @include mobile {
                display: none;
                width: 30px;
                height: 30px;
                padding: 5px;
            }
        }
        span{
            @include mobile{
                display: none;
                font-size: 22px;
            }
        }
    }
    
    .container-nav-menu{
        @include mobile{
            display: none;
            
        }
        ul{
            .--modificador{
                padding-left: 50px;
            }
            li{
                list-style: none;
                a {
                    text-decoration: none;
                    color: #000
                }
            } 
        }  
  
    }
}
main{
    .featured-products__h1, .most-selling-products__h2{
        @extend .btnindexconfiguration;
        width: 300px;
        padding: 5px;
        font-size: 26px;
        margin: 10px auto 10px 20px;
        @include mobile{
            @extend .btnindexconfiguration;
            width: 150px;
            padding: 5px;
            font-size: 12px;
            margin: 10px auto 10px 20px;
        }
        
    }
    .carousel-inner{
        margin-left: 20px;
        @include mobile{
        margin-left: 0;
        margin-top: -20px;
        }
        

        .img-cover{
            width: map-get($coverSize , width );
            height: map-get($coverSize , height);
                @include mobile{
                    width: 400px;
                    height: 200px;   
                    
            }
        }
    }
    .img-advertising{
            @extend .flexconfigurationcenter;
        .img-advertising__img{
            width: map-get($coverSize , width );
            height: map-get($coverSize , height);
                @include mobile{
                    width: 450px;
                    height: 200px; 
                    margin-right: 10px  
            
    }
        }
    }
    .most-selling-products__slide, .featured-products__slide{
        @extend .flexconfigurationcenter;
        margin:20px 50px;
        @include mobile{
            margin:10px 0px;
            display: flex;
//   overflow-x: auto;
//   scroll-snap-type: x mandatory;
//   -webkit-overflow-scrolling: touch;
//   scrollbar-width: none;
//   -ms-overflow-style: none;
        }
        .most-selling__card__btn, .featured__card__btn{
            border-radius: 4px;
            background: #ebcded;
            border: 1px solid #000;
            padding: 5px;
            width: 150px;
            @include mobile{
                padding: 0;
            width: 60px;
            font-size: 11px
            }
        }
    }

    .container-btn-allProducts{
        @extend .flexconfigurationcenter;
        .allProducts__btn{
            @extend .btnindexconfiguration;
            border: none;
            padding: map-get($btnmain , padding);
            width:map-get($btnmain , width );
            height:map-get($btnmain , height )
        }
    }
    .container-purchase-inf{
        @extend .flexconfigurationaround;
        text-align: center;
        margin: 50px 30px;
        @include mobile{
            width: 440px;
            height: 150px;
            text-align: center;
        margin: 20px 10px;
        }
        .purchase-inf{
            border: 1px solid #ccc;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
            padding: 10px 90px;
            @include mobile {
                padding: 10px 40px; 
                font-size: 11px;
            }
        }

    }
    
}
footer{
    
    border-top: 1px solid #ccc;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    .container-inf-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 60px;
        @include mobile {
            margin-left: 10px;
            font-size: 11px;
        }
        span{
            @include mobile{
                font-size: 14px;
            }
        }
        ul{
            list-style-type: none;
            span{
            display: inline-block;
            vertical-align: middle;
            }
        }
        li:nth-child(1){
            color: salmon;
            font-size: 20px;
            @include mobile {
                font-size: 14px;
            }
        }
    }
    
}